pip
bumpversion
wheel
watchdog
flake8
tox
coverage
Sphinx
sphinx_rtd_theme
cryptography
PyYAML
pytest
pytest-runner
numpy
numba
git+https://github.com/willsheffler/rif.git@devel
homog >= 0.1.10
xbin >= 0.1.5
tqdm
